* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
}

nav {
  background-color: #333;
  color: #fff;
  padding: 2rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid red;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  gap: 20px;
  border: 1px solid red;
}

.hero-text {
  flex: 1;
}

.hero-image {
  flex: 1;
  text-align: right;
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-image img {
  max-width: 60%;
  height: auto;
  border-radius: 10px;
}

.hero-text button {
  margin-top: 20px;
  padding: 12px 24px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }
  .hero-image {
    text-align: center;
    margin-top: 20px;
  }
}



/* about */
.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 40px;
  background-color: #f0f0f0;
  gap: 20px;
}

.about-text {
  flex: 1;
  padding-right: 20px;
}

.about-text h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.about-text p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 15px;
}

.about-image {
  flex: 1;
  text-align: right;
}

.about-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .about {
    flex-direction: column;
    text-align: center;
  }

  .about-image {
    text-align: center;
    margin-top: 20px;
  }

  .about-text {
    padding-right: 0;
  }
}
